{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="ui text container">
        <h1 class="ui header">Présentation de symfony avec des astuces PHP</h1>
        <div class="ui hidden divider"></div>
        <p>
           Le console bin est une ligne de commande qui référence l'ensemble des lignes de commandes de Symfony
        </p>
    </div>
{% endblock %}
