{% extends 'base.html.twig' %}

{% block title %}Démo Doctrine!{% endblock %}

{% block body %}
    <div class="ui text container">
        <h1 class="ui header">Doctrine</h1>
        <div class="ui hidden divider"></div>
        <p>
           Doctrine est un Orm (Object Relational Mapping) qui permet de manipuler des enregistrements sous
           forme d'objets.
        </p>
        <p>Quelques exemples :</p>
         <a class="ui primary button" href="{{path('doctrine_show')}}">Démo</a>
    </div>
{% endblock %}
