<div class="ui steps">
  <div class="{{(step == 'shipping') ? 'active' : 'disabled'}} step">
    <i class="truck icon"></i>
    <div class="content">
      <div class="title">Shipping</div>
      <div class="description">Choose your shipping options</div>
    </div>
  </div>
  <div class="{{(step == 'billing') ? 'active' : 'disabled'}} step">
    <i class="payment icon"></i>
    <div class="content">
      <div class="title">Billing</div>
      <div class="description">Enter billing information</div>
    </div>
  </div>
  <div class="{{(step == 'confirm') ? 'active' : 'disabled'}} step">
    <i class="info icon"></i>
    <div class="content">
      <div class="title">Confirm Order</div>
    </div>
  </div>
</div>