{% extends 'base.html.twig' %}

{% block title %}Verbatim!{% endblock %}

{% block body %}
    <div class="ui text container">
        <div class="ui segment">
            <h1 class="ui header">Verbatim</h1>
            <div class="ui hidden divider"></div>
            <p>Twig ne parse plus les variables</p>
            <p>
                {{ code|highlightCode("php")|raw }}
            </p>
            <div class="ui bulleted list">
                {% verbatim %}
                    <ul>
                    {% for item in seq %}
                        <li>{{ item }}</li>
                    {% endfor %}
                    </ul>
                {% endverbatim %}
            </div>
        </div>
    </div>
{% endblock %}